<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="{{ url_for('static', filename= 'css/style.css') }}">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap" rel="stylesheet">
  <title>AnimalDetection</title>
</head>

<body>
  <h1>Welcome to Animal Detection</h1>
  <form method=post enctype=multipart/form-data style="display: flex; flex-direction: column; align-items: center;">
    <div>
      <img src="" id="preview-image" alt="selected image" style="visibility:hidden; max-height: 500px;"
        onload="this.style.visibility='visible'">
    </div>
    <div>
      <input type=file accept="image/*" name="file" id="inp-image" onchange="this.style.color = 'black';">
    </div>
    <div style="display: flex; flex-direction: column; align-items: center; margin: 10px 0">
      <div id="model-select">
        <input type="radio" id="object" name="model" value="Object" checked>
        <label for="object">Object</label>
        <input type="radio" id="animal" name="model" value="Animal">
        <label for="animal">Animal</label>
      </div>
      <button type=submit id="detect-button" style="display: none;">Detect</button>
    </div>
    <div id="description">
      <small>※ Object: detect <a href="https://tech.amikelive.com/node-718/what-object-categories-labels-are-in-coco-dataset/" target="_blank" style="padding: 0">80 classes</a></small><br>
      <small>※ Animal: detect 'Bird', 'Cat', 'Dog', 'Monkey', 'Squirrel'</small>
    </div>
    <div style="margin-top: 10px">
      <a download="animal_result.png" href="static/results/animal_result.png" title="Animal Result" id="download-button"
      style="display: none; font-size: 1.5em;">
        Download
      </a>
    </div>
  </form>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
  <script type="text/javascript">
    $(document).ready(function () {
      let selectedImage;
      let urlParams = getUrlParams('name');

      if (urlParams) {
        loadImage();
        hideButtons("static/results/animal_result.png");
      }

      $("#inp-image").change(function () {
        imgPreview(this);
      });

      function getUrlParams(paramName) {
        let url = new URL(window.location.href);
        return url.searchParams.get(paramName);
      }

      function imgPreview(input) {
        if (input.files && input.files[0]) {
          let reader = new FileReader();
          reader.onload = function (e) {
            selectedImage = e.target.result;
            $("#preview-image").show().attr("src", e.target.result);
          }
          reader.readAsDataURL(input.files[0]);
          $('#description').show()
          $('#model-select').show()
          $("#detect-button").show()
        }
      }

      function loadImage() {
        if (!selectedImage) {
          $("#preview-image").show().attr("src", "static/results/animal_result.png");
        }
      }

      function hideButtons(animal_result) {
        $.get(animal_result, function (data, textStatus) {
          if (textStatus == "success") {
            $('#description').hide()
            $('#model-select').hide();
            $("#detect-button").hide()
            $("#download-button").show()
          } else {
            $('#description').show()
            $('#model-select').show();
            $("#detect-button").show()
            $("#download-button").hide()
          }
        })
      }
    })
  </script>
</body>

</html>